# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/

# Django
db.sqlite3
*.log

# Environment Variables
.env

# Node Modules
node_modules/

# Build Files
dist/
build/

# VS Code
.vscode/

# Mac/Linux
.DS_Store
